# Don’t commit the following directories created by pub.
build/
packages/
.buildlog

# Or the files created by dart2js.
*.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
*.js.map

# Include when developing application packages.
pubspec.lock
dart/*/.packages
dart/*/.dart_tool
dart/pappes_utility/.packages
dart/pappes_utility/.dart_tool
dart/pappes_web_utility/.packages
dart/pappes_web_utility/.dart_tool
